[submodule "external/console_style"]
	path = external/console_style
	url = git@github.com:sizmailov/console_style.git
[submodule "external/gtest"]
	path = external/gtest
	url = git@github.com:google/googletest.git
